<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="umn.ac.id.artuno">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Artuno">
        <activity
            android:name=".MusicDetail"
            android:label="Now Playing"
            android:parentActivityName=".MusicList" />
        <activity
            android:name=".MusicList"
            android:label="Music List" />
        <activity
            android:name=".AboutActivity"
            android:label="About Artuno"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignInActivity"
            android:label="Welcome to Artuno"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>